<div style="text-align:center">
  <h1 class="title">
    PFE Project
  </h1>
</div>
<div style="padding-left: 20px;">
  <button mat-raised-button color="primary" (click)="onAddButtonClickHandler()">Add Client</button>
</div>

<div style="padding: 20px;">
  <table mat-table [dataSource]="dataSource"  #table class="mat-elevation-z8">
    <!-- CIN Column -->
    <ng-container matColumnDef="CIN">
      <th mat-header-cell *matHeaderCellDef> CIN </th>
      <td mat-cell *matCellDef="let client"> {{client.CIN}} </td>
    </ng-container>

    <!-- First Name Column -->
    <ng-container matColumnDef="FirstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let client"> {{ client.FirstName }} </td>
    </ng-container>

    <!-- Last Name Column -->
    <ng-container matColumnDef="LastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let client"> {{client.LastName}} </td>
    </ng-container>

    <!-- PhoneNumber Column -->
    <ng-container matColumnDef="PhoneNumber">
      <th mat-header-cell *matHeaderCellDef> Phone Number </th>
      <td mat-cell *matCellDef="let client"> {{client.PhoneNumber}} </td>
    </ng-container>

    <!-- Email Column-->
    <ng-container matColumnDef="Email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let client"> {{client.Email}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let client">
          <button mat-button color="primary" (click)="onEditButtonClickHandler(client)">Edit</button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let client">
          <button mat-button color="warn" (click)="onDeleteButtonClickHandler(client)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

</div>
